.headBar{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.ul1{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.TMag{
    border: 2px solid white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to right, #984D38, #181E41);
}

.btn1{
    background-color: inherit;
    color: white;
    border-color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 5px 15px;
    transition: 1.5s all ease;
    cursor: pointer;
}

.btn1:hover{
    background-color: white;
    color: black;
    border-color: black;
    scale: 1.1;
}

.presentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-size: 50px;
    margin: 0;
}

p{
margin: 0;
}

.navBarMid{

    background-color: black;
    height: 10vh;

}

.navBarMidUl{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.6;

}

.navBarMidUl li{
    font-size: 2rem;
}

.navBarMidUl li:nth-child(1){
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: bold;
}

.navBarMidUl li:nth-child(2){
    font-family: 'Palatino', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navBarMidUl li:nth-child(3){
    font-family: 'Verdana', sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.navBarMidUl li:nth-child(4){
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

.mediumdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    gap: 20px;
}

.PhProfileGauche{
    width: 20%;
}

.textDroite{
    width: 40%;
}

.PhProfileGauche img{
    background-color: white;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

}

.textDroite h1{
    font-size: 60px;
    margin-bottom: 40px;
}

.textDroite p{
    font-size: 20px;
    line-height: 1.5;
}

.lastPart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
}

.gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.gauche h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.gauche p{
    font-size: 20px;
    line-height: 1.5;
    width: 80%;
}

.gauche{
    width: 60%;
    list-style: none;
    padding: 0;
}

.ulGauche{
    display: flex;
    gap: 40px;
    padding: 0;
    padding-top: 3%;
    list-style: none;
    width: 60%;
}

.ulGauche li{
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    background-color: inherit;
    font-size: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 20px;
    opacity: 0.95;
}

.ulGauche li:hover{
    background-color: black;
    color: white;
    transition: 0.5s all ease;
}
.droite{
    display: flex;
    align-items: center;
    width: 30%;
}

.droite ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.droite ul li{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    border: 15px solid white;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    
}

.droite ul li:nth-child(1), .droite ul li:nth-child(3){
    opacity: 0.6;
}

.droite ul li:hover{
    background-color: black;
    color: white;
    border-color: black;
    scale: 1.05;
    transition: 0.5s all ease;
}

.endFooter h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.Footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Footer1 .btn2{
    display: flex;
    background-color: inherit;
    color: white;
    border-color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 5px 15px;
    align-items: center;
    cursor: pointer;
}

.Footer1 .btn2:hover{
    background-color: inherit;
    border-color: black;
    scale: 1.1;
    transition: 1.5s all ease;
}

.Footer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
    gap: 20px;
}

.Footer2 ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.Footer2 ul img{

    border-radius: 50%;
    padding: 10px;
    opacity: 0.6;
    position: relative;
    z-index: 1;
}