body{
    padding: 0;
    margin: 0;
}

div{
    background-color: lightgray;
    width: inherit;
    height: 2000px;
    display: flex;  
    align-items: center;
    justify-content: center;
}

header{

    width: inherit;
    height: 200px;
    background-color: black;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#nivScroll{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: blue;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}